<div class="title-block">
  <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  Loading...
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
      <div class="col-md-6">
          <acc-add-event></acc-add-event>
      </div>
      <div class="col-md-6">
          <acc-add-category (categoryAddOn)="newCategoryAdded($event)"></acc-add-category>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <acc-edit-category
            [categories]="categories"
            (categoryEditOn)="categoryWasEdited($event)"
          ></acc-edit-category>
      </div>
  </div>
</section>
